
<section id="enviar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Envie o Seu Desafio</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
					<center>
                    <%if current_user.arquivos == nil %>
                    <%= form_for(@arquivo) do |f| %>

						<%= f.file_field :arquivo, class: "btn btn-primary" %>

						<%= f.hidden_field :user_id, {:value => current_user.id} %>
                        <br>
                        <br>
						<%= f.submit 'Enviar', class: "btn btn-primary"%> 
					<% end %>
                    <%else%>
                    <h3> "Você já enviou seu desafio!" </h3>
                    <% end %>
                    </center>
                </div>
            </div>
        </div>
        
    </section>